*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.register-login-container {
    width: 100%;
    min-width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../images/header-background.jpg');
    background-size: cover;
}
.register-login-container .form-wrapper .logo {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
.register-login-container .form-wrapper .logo span {
    font-size: 32px;
    font-weight: 300;
    color: #343638;
}
.register-login-container .form-wrapper .form-container .name-wrapper {
    display: flex;
    justify-content: space-between;
}
  .register-login-container .form-wrapper .form-container .name-wrapper .input-wrapper {
    width: 48%;
  }
  